body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.43;
    color: #565A5C;
    background-color: #F5F5F5;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin-left: 60px;
    margin-right: 200px;
}

x {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.43;
  font-size: 24px;
  color:#FF9933;
  background-color: #F5F5F5;
    -moz-osx-font-smoothing: grayscale;
}

p.italic {
    font-style: italic;
}
p.citation {
  font-size: 14px
}
p.indent {
  margin-left: 50px;
}
p.lgcol {
  font-size: 16;
  width: 500px;
}
p.smcol {
  font-size: 16;
  width: 300px;
}
a {
      text-decoration:none;
      color: #338533;
   }
	.outer { 
		position: relative;
 		background: url(/NU_Physiology_1900.jpg); 
 		width: 800px; 
 		height: 470px; 
 		} 
  .JungleClub {
    position: relative;
    background: url(/JungleClub.jpg); 
    width: 612px; 
    height: 612px; 
  }
  .RockWriting {
    position: relative;
    background: url(/ChineseWritingRock2008.jpg); 
    width: 604px; 
    height: 408px; 
  }
 	.bottomleft { 
 		font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
 		position: absolute; 
 		bottom: 0;
 		left: 0.5em; 
 		width: 400px; 
 		font-weight: 
 		bold; color: #fff; 
 		} 
 	.topright { 
 		font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
 		position: absolute; 
 		top: 2em; 
 		left: 0; 
 		width: 800px; 
 		padding: 4px; 
 		background-color: #fff; 
 		font-weight: bold; 
 		font-size: 28px; 
 		opacity: .8 } 
  .toprightJC { 
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute; 
    top: 5em; 
    left: 0; 
    width: 600px; 
    padding: 4px; 
    background-color: #fff; 
    font-weight: bold; 
    font-size: 18px; 
    opacity: .8 } 

