body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.43;
    color: #565A5C;
    background-color: #F5F5F5;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin-left: 60px;
    margin-right: 200px;
}

x {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.43;
  font-size: 24px;
  color:#FF9933;
  background-color: #F5F5F5;
    -moz-osx-font-smoothing: grayscale;
}
fancy {
  font-family:Zapf Chancery,cursive;
}

#wrap {
    width:1000px;
    margin:0;
  }
#left_col {
  float:left;
    margin-left:0px;
    width:290px;
    padding-left:20px;
  }
#mid_col {
   float:left;
    width:320px;
    padding-left:20px;
  }
#right_col {
    float:left;
    width:300px;
  }
hdiv:hover {
  background-color: #CCCCCC;
}

p.italic {
    font-style: italic;
}
p.citation {
  font-size: 14px
}
p.indent {
  margin-left: 50px;
}
p.lgcol {
  font-size: 16;
  width: 500px;
}
p.smcol {
  font-size: 16;
  width: 300px;
}
emph {
  font-style:bold;
}
a {
      text-decoration:none;
      color: #338533;
   }
a:hover {
  background-color: #CCCCCC;
}
#aNoHover {
      text-decoration:none;
      color: #338533;
   }

	.outer { 
		position: absolute;
    display: block; 
    width: 110%; 
    height: 650px;
    top:-100px;
 		background: url(/NU_Physiology_1900.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-left: -100px;
    margin-right: -200px;
    z-index: -5;
 		} 
  .JungleClub {
    position: absolute;
    background: url(/JungleClub.png); 
    width: 100%; 
    height: 820px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-left: -100px;
    margin-right: -300px;
    z-index: -5; 
  }
  .RockWriting {
    position: absolute;
    background: url(/ChineseWritingRock2008.jpg); 
    width: 100%; 
    height: 650px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-left: -100px;
    margin-right: -400px;
    z-index: -5; 
  }
  .FingerPainting {
    position: absolute;
    background: url(/fingerpainting.png);
    display: block; 
    width: 110%; 
    height: 650px;
    top:-100px;
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-left: -100px;
    margin-right: -200px;
    z-index: -5;

  }
   .SDCars {
    position: absolute;
    background: url(/selfdrivinggooglecars.png); 
    width: 100%; 
    height: 550px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-left: -100px;
    margin-right: -200px;
    z-index: -5; 

  }
 	.bottomleft { 
 		font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
 		position: absolute; 
 		bottom: 0;
 		left: 0.5em; 
 		width: 400px; 
 		font-weight: bold;
     color: #fff; 
 		} 
 	.topright { 
 		font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
 		position: absolute; 
 		top: 2em; 
 		left: 0; 
 		width: 350px; 
 		padding: 4px; 
 		background-color: #fff; 
 		font-weight: bold; 
 		font-size: 28px; 
 		opacity: .8 } 
  .toprightJC { 
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute; 
    top: 2em; 
    left: 0; 
    width: 100%; 
    padding: 4px; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #fff; 
    font-weight: bold; 
    font-size: 18px; 
    opacity: .8 
    } 
    .FingerPaintingblurred-image {
    opacity:0;
    position: fixed;
    background: url(/fingerpainting.png);
    display: block; 
    width: 100%; 
    height: 100%; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-left: -100px;
    margin-right: 0px;
    z-index: -1;
    -webkit-filter: blur(20px) brightness(0.7);
    -ms-filter: blur(20px) brightness(0.7);
    -o-filter: blur(20px) brightness(0.7);
    filter: blur(20px) brightness(0.7);
}
   
