body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #565A5C;
    background-color: #F5F5F5;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0px;
}